.resize {
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    font-weight: bold;
}
.container {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}
.grid-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
.grid-div {
    width: 70px;
    max-height: auto;
    border: 1px solid rgb(214, 213, 247);
    flex: 1;
}